
*{
	text-decoration: none ;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans',sans-serif;
}

.wrapper{
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo a {
	font-size: 50px;
	font-weight: 800;
	float: left;
	font-family: courier;
	color: #525E75;
}

.menu{
	float: right;

}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #DFDFDE;
	z-index: 1;
	border-bottom: 1px solid #363062;

}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

nav ul li {
	float: left;

}

nav ul li a {
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

section{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}

.kolom{
	margin-top: 50px;
	margin-bottom: 50px;
}

.kolom .deskripsi{
	font-size: 20px;
	font-weight: bold;
	font-family: 'comic sans ms';
	color: #8D8DAA;
}

h2{
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 45px;
	margin-bottom: 20px;
	color: #8D8DAA;
	width: 100%;
	line-height: 50px;	
}

a.tbl-red{
	background: #525E75;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

a.tbl-red:hover{
	background: #40DFEF;
	text-decoration: none;
}

a.tbl-pink{
	background: #363062;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px 10px 20px 10px;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

a.tbl-pink:hover{
	background: #95D1CC;
	text-decoration: none;
}

p{
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
}
