@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Macondo', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #eee;
	color: #333;
	text-align: center;
}

a {
	color: #333;
	text-decoration: none;
}

h1{
	font-size: 60px;
}
h2{
	font-family: 'comic sans-ms';
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
	text-align: center;
}
h3 {
	padding-bottom: 2rem;
}
header .content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .content .textBox{
	position: relative;
	max-width: 600px;
}
header .content .textBox h2{
	color: black;
	font-size: 40em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;

} 
header .content .textBox h2 span{
	font-size: 50px;
	font-family: Macondo;
}
header .content .textBox p{
	color: black;
	font-size: 30px;
	text-align: center;
}
header .content .textBox a{
	display: inline-block;
	margin top: 30px;
	padding: 8px 20px;
	background: #D0C9C0;
	color: #111;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}
header .content .imgBox{
	width: 600px;
	display: flex;
	padding-right: 50px;
	margin-top: 50px;
	justify-content: flex-end;
}
header .content .imgBox img{
	max-width: 260px;
}
header .thumb{
	position: absolute;
	left: 60%;
	bottom: 10px;
	transform: translateX(-50%);
	display: flex;
}
header .thumb li{
	list-style: none;
	display: inline-block;
	margin: 0 40px;
	cursor: pointer;
	transition: 0.5s;
}
header .thumb li:hover{
	transform: translateY(-15px);
}
header .thumb li img{
	max-width: 50px;
}
header .thumb li img .onclick{
	
	max-width: 50px;
}
header .sci{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(150%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header .sci li{
	list-style: none;
}
header .sci li a{
	display: inline-block;
	margin: 5px 0;
	transform: scale(0.6);
	float: right;

}

.wrapper {
	margin: auto;
	width: 100%;
}

.button {
	font-size: 1.8rem;
	color: #eee;
	background-color: #333;
	padding: 1.5rem 2.5rem;
	border: none;
	border-radius: 5px;
}

.button:hover {
	background-color: #EFEAD8;
	color: #333;
	cursor: pointer;
}

/* ************************************************** nav */
nav {
	position: fixed;
	font-weight: 300;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;
	background-color: #D0C9C0;
	box-shadow: 0 0.25rem .25rem rgba(51, 51, 51, 0.2);
	
}
nav ul {
	list-style: none;
	display: flex;
	font-size: 80px;
}
nav ul li a {
	display: block;
	padding: 2rem;

}

nav ul li a:hover,
nav ul li a.current {
	background-color: #333;
	color: #fff;
}

/* logo */
.logo {
	list-style: none;
	display: flex;
	font-size: 80px;
}
.logo i {
	padding: 0 1.5rem;
}

/* ************************************************** header */
#title {
	background: url('img/img-1.jpg') no-repeat center center/cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title h1 {
	font-size: 7vw;
	letter-spacing: 1.5rem;
	margin: 3rem;
	padding-bottom: 5rem;
	color: #A0BCC2;
	font-weight: 400;
}

/* ************************************************** main */

/* about */
#about {
	font-size: 4rem;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
	text-align: left;
}

#about p {
	font-size:20px;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
	text-align: left;
}
#about aside {

	 background-color: #999;
	 width: 35%;
	 margin: 3%;
	 font-size: 30px;
}

article{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
	background-color: white;
	padding: 0 10rem;
}
aside{
	width: 50px;
	height: 50px;
}
}
}
/* photos */
.photos {
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
}

.photos img {
	width: calc(50%/2);
	height: calc(50%/2);
}

/* ************************************************** quote */
.quote {
	background-color: #EFEAD8;
	font-size: 3.3rem;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
}


section:first-of-type {
	background-color: #333;
	color: #eee;
}

aside {
 background-color: white;
 width: 35%;
 margin: 3%;
}
/* ************************************************** form */
#contact {
	padding-top: 4rem;
	font-size: 3rem;
}

#contact form {
	padding: 0 20%;
	text-align: left;
}

#contact h2 {
	margin: 2rem 0;
}

#contact label {
	font-size: 2rem;
}

#contact textarea {
	height: 20rem;
}

input,
textarea {
	background-color: #e9e9e9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}

input:focus,
textarea:focus {
	outline: 3px solid #ccc;
}

input[type="submit"] {
	font-size: 2rem;
	font-weight: 300;
}
input[type="submit"]:hover {
	background-color: #58d4ba;
	color: #333;
}

/* ************************************************** footer */
#footer {
	background: #333;
	color: #eee;
	padding: 2rem;
	font-size: 2.3rem;
	margin-top: 3rem;
}

/* ************************************************** media queries */

@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}

	nav .logo {
		font-size: 6rem;
		padding-bottom: 1.5rem;
	}

	nav ul {
		display: none;
	}
	.photos img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 481px) {
	nav {
		padding: 1rem 3rem;
	}

	nav .logo {
		font-size: 4rem;
		padding-bottom: 1rem;
	}

	.title-content a {
		font-size: 1.6rem;
	}

	.quote {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about p {
		text-align: center;
	}

	#contact label {
		font-size: 1.6rem;
	}
}