@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');



:root{
	--succsess-color: green;
	--error-color: red;

}
*{
	box-sizing: border-box;
}

body {
	background-color: #4B7BE5;
	font-family: Macondo;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;

}

.container{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
	width: 400px;
}

h1{
	text-align: center;
}

.form{
	padding: 30px 40px;
}



.form-control {
	margin-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

.form-control label {
	color: black;
	display: block;
	margin-bottom: 5px;

}

.form-control input {
	padding: 10px;
	font-size: 12px;
	border: 2px solid #827397;
	display: block;
	width: 100%;

}

.form-control:focus{
	outline: 0;
	border-color: #777;
}

.form-control.sucess input{
	border-color: var(--succsess-color);
}

.form-control.error input{
	border-color: var(--error-color);
}

.form-control small{
	color: var(--error-color);
}

.form button {
	background-color: #E9D5DA;
	padding: 10px;
	margin-top: 10px;
	border: 2px solid blueviolet;
	width: 100%;
	border-radius: 5px;
	color: black;
}
